h3{
    color: rgb(42, 165, 163);
}

h1 {
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

body{
    background-image: url('images/manson.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;

}
